<head>

</head>

<body>
    <div>
        <h1>Capture Vehicle</h1>
    </div>

    <div class="pageOneContainer">
        <div class="pageOneLeftPanel">
            <div class="inputContainer">
                <label for="vMake">Vehicle Make:</label><br>
                <input type="text" id="vMake" name="vMake" placeholder="BMW" value="" class="inputs"><br>
            </div>
            <div class="inputContainer">
                <label for="vModel">Vehicle Model:</label><br>
                <input type="text" id="vModel" name="vModel" placeholder="320d" value="" class="inputs"><br>
            </div>
            <div class="inputContainer">
                <label for="vMileage">Vehicle Mileage:</label><br>
                <input type="text" id="vMileage" name="vMileage" value="" placeholder="75000" class="inputs"><br>
            </div>

        </div>

        <div class="pageOneRightPanel">
            <div class="inputContainer">
                <label for="vColor">Vehicle Color:</label><br>
                <input type="text" id="vColor" name="vColor" value="" placeholder="Silver" class="inputs"><br>
            </div>
            <div class="inputContainer">
                <label for="vLocation">Vehicle Location:</label><br>
                <input type="text" id="vLocation" name="vLocation" value="" placeholder="JHB" class="inputs"><br>
            </div>
            <div class="inputContainer">
                <label for="vValue">Vehicle Value:</label><br>
                <input type="text" id="vValue" name="vValue" value="" placeholder="60000" class="inputs"><br>
            </div>
        </div>
    </div>
    <div class="addBtnContainer">
        <button class="add-vehicle-btn">Add Vehicle</button>
    </div>
</body>