<head>

</head>

<body>
<div class="header-container">
    <div>
        <h1>View Vehicles</h1>
    </div>
    <div>
        <button id="refreshBtn" class="refresh-vehicle-btn">Refresh</button>
    </div>
</div>

    <div class="pageTwoContainer">
        <div class="pageTwoLeftPanel">
            <table id="vehicleTable">
                <thead>
                    <tr>
                        <th>VehicleID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Mileage</th>
                        <th>Color</th>
                        <th>Location</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="vehicleTableBody">
                </tbody>
            </table>
        </div>
        <h4>Search Vehicle by ID:</h4>
        <div class="pageTwoRightPanel">
            <div class="searchBox">
                <div class="searchPanel">
                    <div class="searchBoxInput">
                        <input type="text" placeholder="Enter Vehicle ID" id="vSearchId" name="vMileage" value=""
                            class="inputsVehicleIdTxt"><br>
                    </div>
                    <div class="searchBtn" id="searchBtn">
                        <button class="search-vehicle-btn">View</button>
                    </div>
                </div>
                <div class="displaySearchValue">
                    <input type="text" id="searchResult" placeholder="Result" class="searchInputs" />
                </div>
            </div>

        </div>
    </div>

</body>